.button {
    -fx-background-color: #001965;
    -fx-text-fill: White;
}

.combo-box {
    -fx-background-color: #001965;
    -fx-border-color: transparent;
}

.combo-box .text {
    -fx-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: #001965;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.combo-box .list-cell:hover {
    -fx-background-color: #0033cc;
}

.combo-box-popup .list-view {
    -fx-background-color: #001965;
    -fx-border-color: transparent;
}

.combo-box-popup .list-cell {
    -fx-background-color: #001965;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #0033cc;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #001965
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}



#CreateNewUser {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#ExistingUsers {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}